In [1]:
import pandas as pd

In [2]:
path = "/home/nicolas/nico/Data/data_Paper_OGLE/"

In [43]:
ident_lmc = pd.read_csv(f"{path}/catalogos/Nuevos_datos/ident_dsct_OGLE_4_LMC.dat",delim_whitespace=True,names=["ID","Subtype","RA","DEC","field","other","a","b"])
ident_smc = pd.read_csv(f"{path}/catalogos/Nuevos_datos/ident_dsct_OGLE_4_SMC.dat",delim_whitespace=True,names=["ID","Subtype","RA","DEC","field","other","a","b","c"])

In [51]:
print(len(ident_smc.loc[(ident_smc["RA"].str.len() !=11)|(ident_smc["DEC"].str.len() !=11)]) == 0)
print(len(ident_lmc.loc[(ident_lmc["RA"].str.len() !=11)|(ident_lmc["DEC"].str.len() !=11)]) == 0)

True
True

In [52]:
star_info = [
    "ID",
    "Intensity mean I-band magnitude",
    "Intensity mean V-band magnitude",
    "per",
    "Uncertainty of primary period",
    "Time of maximum brightness (HJD-2450000)",
    "I-band amplitude (maximum-minimum)",
    "Fourier coefficient R_21",
    "Fourier coefficient phi_21",
    "Fourier coefficient R_31",
    "Fourier coefficient phi_31",
    "Secondary period (if available)",
    "Uncertainty of secondary period",
    "aTime of maximum brightness (HJD-2450000)",
    "aI-band amplitude (maximum-minimum)",
    "Fourier coefficient R_21 (2)",
    "Fourier coefficient phi_21 (2)",
    "Fourier coefficient R_31 (2)",
    "Fourier coefficient phi_31 (2)",
    "Tertiary period (if available)",
    "Uncertainty of tertiary period",
    "Time of maximum brightness (HJD-2450000) (3)",
    "I-band amplitude (maximum-minimum) (2)",
    "Fourier coefficient R_21 (3)",
    "Fourier coefficient phi_21 (3)",
    "Fourier coefficient R_31 (3)",
    "Fourier coefficient phi_31 (3)"
]

In [53]:
dsct_lmc = pd.read_csv(f"{path}/catalogos/Nuevos_datos/dsct_OGLE_4_LMC.dat",delim_whitespace=True,names=star_info)
dsct_smc = pd.read_csv(f"{path}/catalogos/Nuevos_datos/dsct_OGLE_4_SMC.dat",delim_whitespace=True,names=star_info)

In [54]:
ident_smc["types"] = "dsct"
ident_smc["database"] = 4
ident_smc["field"] = "smc"


ident_lmc["types"] = "dsct"
ident_lmc["database"] = 4
ident_lmc["field"] = "lmc"

In [55]:
dsct_lmc = dsct_lmc[["ID","per"]].merge(ident_lmc[["ID","Subtype","RA","DEC","types","database","field"]],how="inner",on="ID")

dsct_smc = dsct_smc[["ID","per"]].merge(ident_smc[["ID","Subtype","RA","DEC","types","database","field"]],how="inner",on="ID")

In [61]:
catalog = pd.read_csv(f"{path}catalogos/0_catalogo.csv")

In [66]:
catalog = pd.concat([catalog,dsct_lmc,dsct_smc])

In [68]:
catalog.loc[catalog["types"]=="dsct"].groupby("field").count()

,ID,RA,DEC,types,database,Subtype,per,l,b,error,obs_total,numero_nans,e_mayor0.075,eyected_sigma,numero_final,amplitud,mag_mean,mag_median,err_mean,err_median
field,,,,,,,,,,,,,,,,,,,,
blg,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16812,16810,16810,16810,16810,16810
gd,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747,7747
lmc,18044,18044,18044,18044,18044,18044,18044,2788,2788,2788,2788,2788,2788,2788,2788,2087,2087,2087,2087,2087
smc,2810,2810,2810,2810,2810,2810,2810,0,0,0,0,0,0,0,0,0,0,0,0,0

In [69]:
catalog.to_csv(f"{path}catalogos/0_catalogo.csv",index=False)